<a href="https://colab.research.google.com/github/aswani-mohanan/python/blob/main/TASK_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 1000 and 2000 (both included).

In [ ]:
#please enter your answer below this line
nl=[]
for x in range(1000, 2000):
    if (x%7==0) and (x%11==0):
        nl.append(str(x))
print (','.join(nl))

2. Write a program to print this pattern

           #
          ## 
         ###

In [ ]:
#please enter your answer below this line
rows = 3
k = 2 * rows - 2
for i in range(0, rows):
    
    for j in range(0, k):
        
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        
        print("# ", end="")
    print("")

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [ ]:
#please enter your answer below this line
my_list =   ['apple', 'orange', 'apple', 'banana']  
print(my_list)
for i in range(len(my_list)):
    if  my_list[0] == 'apple':
     my_list[0] = 'grapes' 
    elif my_list[2] == 'apple':
     my_list[2] = 'grapes'
     
print(my_list)