<a href="https://colab.research.google.com/github/aswani-mohanan/python/blob/main/TASK_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 11000 and 2000 (both included).

In [ ]:
#please enter your answer below this line
range = [2000,11000]
for i in range:
    if  i%7==0 and  i%5==0:
        print(i)

2. Write a program to print this pattern

           #
          ## 
         ###

In [ ]:
#please enter your answer below this line

def pypart2(n):
	
	
	k = 2*n - 2

	
	for i in range(0, n):
	
		for j in range(0, k):
			print(end=" ")
	
		
		k = k - 2
	
		
		for j in range(0, i+1):
		
		
			print("#", end="")
	
		
		print("\r")


n = 3
pypart2(n)

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [ ]:
#please enter your answer below this line
my_list =   ['apple', 'orange', 'apple', 'banana']  
print(my_list)
for i in range(len(my_list)):
    if my_list[i] == 'apple':
     my_list[i] = 'grapes'  
print(my_list)